

h1{
    
    font-size: 50px;
}



h2{
    font-size: 25px;
}

img.ioi{
    
    width: 100vw;
    height: 704px;
    
}

p{
    font-size: 30px;
    margin: 40px; ;
    text-align: left;
    margin-bottom: 76px;

}

h3{
    margin-left: 40px;
    font-size: 30px;
}

h4{
    margin-left: 40px;
    font-size: 30px;
}

h5{
    margin-left: 40px;
    font-size: 23px;
}

.thalik{
font-size: 30px;

}



ul{
    
    margin-left: 80px;
}

ol{
    
    margin-left: 80px;
}

.section{
    text-align: left;
    margin-left: 80px;
    font-size: 23px;
    margin-bottom: 20px;
}

.countries{
    
    font-size: 14px;
    margin: 80px; ;
    margin-top: 15px;
}

h6{
    
    margin-left: 40px;
    font-size: 33px;
}

.ukrzoloto{
    font-size: 23px;
    
}
li{
    margin-bottom: 15px;
}